In [1]:

import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
database_path = "../data/emission_population.sqlite"

In [3]:
engine=create_engine(f"sqlite:///{database_path}", echo=True)
conn=engine.connect()

2021-02-06 12:39:01,244 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-06 12:39:01,246 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 12:39:01,248 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-06 12:39:01,248 INFO sqlalchemy.engine.base.Engine ()

In [4]:
conn.execute("DROP TABLE emission_population")

2021-02-06 12:39:03,314 INFO sqlalchemy.engine.base.Engine DROP TABLE emission_population
2021-02-06 12:39:03,315 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 12:39:03,324 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
# Create the table - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS emission_population (
        City_State text,
        City text PRIMARY KEY,
        State text ,
        population2010 integer,
        population2011 integer,
        population2012 integer,
        population2013 integer,
        population2014 integer,
        population2015 integer,
        population2016 integer,
        population2017 integer,
        emissions2010 real,
        emissions2011 real,
        emissions2012 real,
        emissions2013 real,
        emissions2014 real,
        emissions2015 real,
        emissions2016 real,
        emissions2017 real,
        lat decimal(9,6),
        lng decimal(8,6)
        
    )
""")

2021-02-06 12:39:04,725 INFO sqlalchemy.engine.base.Engine
    CREATE TABLE IF NOT EXISTS emission_population (
        City_State text,
        City text PRIMARY KEY,
        State text ,
        population2010 integer,
        population2011 integer,
        population2012 integer,
        population2013 integer,
        population2014 integer,
        population2015 integer,
        population2016 integer,
        population2017 integer,
        emissions2010 real,
        emissions2011 real,
        emissions2012 real,
        emissions2013 real,
        emissions2014 real,
        emissions2015 real,
        emissions2016 real,
        emissions2017 real,
        lat decimal(9,6),
        lng decimal(8,6)

    )

2021-02-06 12:39:04,726 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 12:39:04,741 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
df= pd.read_csv("../data/emission_population_coordinates.csv")
df.head()

,Unnamed: 0,City_State,City,State,population2010,population2011,population2012,population2013,population2014,population2015,...,emissions2010,emissions2011,emissions2012,emissions2013,emissions2014,emissions2015,emissions2016,emissions2017,Lat,Lng
0,0,"New York City , New York",New York,NY,8175133,8272948,8346693,8396091,8433806,8463049,...,1.145691e+10,1.025721e+10,9.592850e+09,9.491282e+09,9.690876e+09,1.029665e+10,1.171019e+10,1.304532e+10,40.712775,-74.005973
1,1,"Los Angeles , California",Los Angeles,CA,3792621,3820876,3851202,3881622,3909901,3938568,...,1.633195e+10,1.497791e+10,1.413437e+10,1.361190e+10,1.446255e+10,1.549449e+10,1.732829e+10,1.907875e+10,34.052234,-118.243685
2,2,"Chicago , Illinois",Chicago,IL,2695598,2708114,2719141,2725731,2727066,2724344,...,6.498994e+09,6.246525e+09,6.146778e+09,6.242132e+09,6.294254e+09,6.580447e+09,7.064306e+09,7.767246e+09,41.878114,-87.629798
3,3,"Houston , Texas",Houston,TX,2099451,2126032,2161593,2199391,2241826,2286908,...,2.037585e+10,1.971698e+10,1.948527e+10,1.957627e+10,2.090323e+10,2.255046e+10,2.543433e+10,2.862886e+10,29.760427,-95.369803
4,4,"Phoenix , Arizona",Phoenix,AZ,1445632,1469796,1499274,1526491,1555445,1583690,...,7.802805e+09,7.772033e+09,7.589138e+09,7.396678e+09,7.444988e+09,7.722396e+09,8.544019e+09,9.839820e+09,33.448377,-112.074037

In [7]:
df.columns

Index(['Unnamed: 0', 'City_State', 'City', 'State', 'population2010',
       'population2011', 'population2012', 'population2013', 'population2014',
       'population2015', 'population2016', 'population2017', 'emissions2010',
       'emissions2011', 'emissions2012', 'emissions2013', 'emissions2014',
       'emissions2015', 'emissions2016', 'emissions2017', 'Lat', 'Lng'],
      dtype='object')

In [8]:
df = df.drop(["Unnamed: 0"], axis=1)
df

,City_State,City,State,population2010,population2011,population2012,population2013,population2014,population2015,population2016,...,emissions2010,emissions2011,emissions2012,emissions2013,emissions2014,emissions2015,emissions2016,emissions2017,Lat,Lng
0,"New York City , New York",New York,NY,8175133,8272948,8346693,8396091,8433806,8463049,8469153,...,1.145691e+10,1.025721e+10,9.592850e+09,9.491282e+09,9.690876e+09,1.029665e+10,1.171019e+10,1.304532e+10,40.712775,-74.005973
1,"Los Angeles , California",Los Angeles,CA,3792621,3820876,3851202,3881622,3909901,3938568,3963226,...,1.633195e+10,1.497791e+10,1.413437e+10,1.361190e+10,1.446255e+10,1.549449e+10,1.732829e+10,1.907875e+10,34.052234,-118.243685
2,"Chicago , Illinois",Chicago,IL,2695598,2708114,2719141,2725731,2727066,2724344,2716723,...,6.498994e+09,6.246525e+09,6.146778e+09,6.242132e+09,6.294254e+09,6.580447e+09,7.064306e+09,7.767246e+09,41.878114,-87.629798
3,"Houston , Texas",Houston,TX,2099451,2126032,2161593,2199391,2241826,2286908,2309544,...,2.037585e+10,1.971698e+10,1.948527e+10,1.957627e+10,2.090323e+10,2.255046e+10,2.543433e+10,2.862886e+10,29.760427,-95.369803
4,"Phoenix , Arizona",Phoenix,AZ,1445632,1469796,1499274,1526491,1555445,1583690,1612199,...,7.802805e+09,7.772033e+09,7.589138e+09,7.396678e+09,7.444988e+09,7.722396e+09,8.544019e+09,9.839820e+09,33.448377,-112.074037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"Hialeah , Florida",Hialeah,FL,224669,228127,230445,232316,232850,233872,234283,...,1.074061e+09,1.048081e+09,1.030512e+09,1.010589e+09,1.031680e+09,1.055433e+09,1.112826e+09,1.187533e+09,25.857596,-80.278106
94,"Richmond , Virginia",Richmond,VA,204214,206391,210794,213860,217044,220856,225369,...,1.342048e+09,1.270741e+09,1.250544e+09,1.241224e+09,1.251715e+09,1.304951e+09,1.431631e+09,1.591292e+09,37.540725,-77.436048
95,"Boise , Idaho",Boise,ID,205671,212635,215627,217330,219440,220850,224604,...,1.308069e+09,1.300467e+09,1.266602e+09,1.226029e+09,1.243930e+09,1.299204e+09,1.420643e+09,1.624057e+09,43.615019,-116.202314
96,"Spokane , Washington",Spokane,WA,208916,209042,209304,210036,211095,212545,215191,...,8.916472e+08,8.900212e+08,8.975698e+08,8.838752e+08,8.998053e+08,9.094204e+08,9.312228e+08,9.590414e+08,47.658780,-117.426047
97,"Baton Rouge , Louisiana",Baton Rouge,LA,229493,228643,228889,228346,227851,227202,226686,...,1.885289e+09,1.819968e+09,1.709733e+09,1.687416e+09,1.632501e+09,1.628949e+09,1.655432e+09,1.688648e+09,30.451468,-91.187147

In [9]:
# insert data into the DB
df.to_sql("emission_population", conn, if_exists="append", index=False)

2021-02-06 12:39:13,389 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("emission_population")
2021-02-06 12:39:13,391 INFO sqlalchemy.engine.base.Engine ()
2021-02-06 12:39:13,393 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-06 12:39:13,396 INFO sqlalchemy.engine.base.Engine INSERT INTO emission_population ("City_State", "City", "State", population2010, population2011, population2012, population2013, population2014, population2015, population2016, population2017, emissions2010, emissions2011, emissions2012, emissions2013, emissions2014, emissions2015, emissions2016, emissions2017, "Lat", "Lng") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-02-06 12:39:13,397 INFO sqlalchemy.engine.base.Engine (('New York City , New York', 'New York', 'NY', 8175133, 8272948, 8346693, 8396091, 8433806, 8463049, 8469153, 8437478, 11456907234.0, 10257208665.0, 9592849785.0, 9491282013.0, 9690876443.0, 10296652342.0, 11710191251.0, 13045318473.0, 40.7127753, -74.0059728), ('Los Angeles , California', 'Los Angeles', 'CA', 3792621, 3820876, 3851202, 3881622, 3909901, 3938568, 3963226, 3975788, 16331951397.0, 14977908599.0, 14134373917.0, 13611901985.0, 14462552207.0, 15494493136.0, 17328293122.0, 19078754895.0, 34.0522342, -118.24368490000002), ('Chicago , Illinois', 'Chicago', 'IL', 2695598, 2708114, 2719141, 2725731, 2727066, 2724344, 2716723, 2711069, 6498993791.0, 6246524674.0, 6146778331.0, 6242132252.0, 6294254186.0, 6580446596.0, 7064306227.0, 7767246075.0, 41.8781136, -87.62979820000001), ('Houston , Texas', 'Houston', 'TX', 2099451, 2126032, 2161593, 2199391, 2241826, 2286908, 2309544, 2316750, 20375849164.0, 19716976508.0, 19485272874.0, 19576271142.0, 20903233759.0, 22550463475.0, 25434333160.0, 28628856083.0, 29.7604267, -95.36980279999999), ('Phoenix , Arizona', 'Phoenix', 'AZ', 1445632, 1469796, 1499274, 1526491, 1555445, 1583690, 1612199, 1633560, 7802804859.0, 7772033160.0, 7589138178.0, 7396677971.0, 7444988394.0, 7722395770.0, 8544018686.0, 9839819537.0, 33.4483771, -112.07403729999999), ('Philadelphia , Pennsylvania', 'Philadelphia', 'PA', 1526006, 1540466, 1551824, 1558313, 1565460, 1571065, 1576051, 1580601, 4747345306.0, 4412134459.0, 4117554213.0, 3858296343.0, 3788291397.0, 3816409960.0, 4063583481.0, 4371506378.0, 39.9525839, -75.1652215), ('San Antonio , Texas', 'San Antonio', 'TX', 1327407, 1357120, 1383075, 1408339, 1435456, 1464043, 1487843, 1511154, 8138719932.0, 8132582195.0, 8205115690.0, 8344792708.0, 8901721387.0, 9528899945.0, 10607865698.0, 11755114161.0, 29.4241219, -98.4936282), ('San Diego , California', 'San Diego', 'CA', 1307402, 1319592, 1336776, 1355320, 1375831, 1387323, 1402089, 1412621, 6485452078.0, 6278367990.0, 6195823402.0, 6159867891.0, 6571974633.0, 7021045924.0, 7794846637.0, 8460054469.0, 32.715738, -117.1610838)  ... displaying 10 of 98 total bound parameter sets ...  ('Spokane , Washington', 'Spokane', 'WA', 208916, 209042, 209304, 210036, 211095, 212545, 215191, 217415, 891647157.4, 890021200.3, 897569757.5, 883875153.6, 899805309.6, 909420384.7, 931222811.1, 959041377.5, 47.6587802, -117.42604650000001), ('Baton Rouge , Louisiana', 'Baton Rouge', 'LA', 229493, 228643, 228889, 228346, 227851, 227202, 226686, 224414, 1885288962.0, 1819968003.0, 1709732746.0, 1687415615.0, 1632500895.0, 1628949072.0, 1655431879.0, 1688647710.0, 30.451467699999995, -91.1871466))
2021-02-06 12:39:13,400 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
conn.execute(""" SELECT * FROM emission_population""").fetchall()

2021-02-06 12:39:19,551 INFO sqlalchemy.engine.base.Engine  SELECT * FROM emission_population
2021-02-06 12:39:19,552 INFO sqlalchemy.engine.base.Engine ()

[('New York City , New York', 'New York', 'NY', 8175133, 8272948, 8346693, 8396091, 8433806, 8463049, 8469153, 8437478, 11456907234.0, 10257208665.0, 9592849785.0, 9491282013.0, 9690876443.0, 10296652342.0, 11710191251.0, 13045318473.0, 40.7127753, -74.0059728),
 ('Los Angeles , California', 'Los Angeles', 'CA', 3792621, 3820876, 3851202, 3881622, 3909901, 3938568, 3963226, 3975788, 16331951397.0, 14977908599.0, 14134373917.0, 13611901985.0, 14462552207.0, 15494493136.0, 17328293122.0, 19078754895.0, 34.0522342, -118.24368490000002),
 ('Chicago , Illinois', 'Chicago', 'IL', 2695598, 2708114, 2719141, 2725731, 2727066, 2724344, 2716723, 2711069, 6498993791.0, 6246524674.0, 6146778331.0, 6242132252.0, 6294254186.0, 6580446596.0, 7064306227.0, 7767246075.0, 41.8781136, -87.62979820000001),
 ('Houston , Texas', 'Houston', 'TX', 2099451, 2126032, 2161593, 2199391, 2241826, 2286908, 2309544, 2316750, 20375849164.0, 19716976508.0, 19485272874.0, 19576271142.0, 20903233759.0, 22550463475.0, 25434333160.0, 28628856083.0, 29.7604267, -95.36980279999999),
 ('Phoenix , Arizona', 'Phoenix', 'AZ', 1445632, 1469796, 1499274, 1526491, 1555445, 1583690, 1612199, 1633560, 7802804859.0, 7772033160.0, 7589138178.0, 7396677971.0, 7444988394.0, 7722395770.0, 8544018686.0, 9839819537.0, 33.4483771, -112.07403729999999),
 ('Philadelphia , Pennsylvania', 'Philadelphia', 'PA', 1526006, 1540466, 1551824, 1558313, 1565460, 1571065, 1576051, 1580601, 4747345306.0, 4412134459.0, 4117554213.0, 3858296343.0, 3788291397.0, 3816409960.0, 4063583481.0, 4371506378.0, 39.9525839, -75.1652215),
 ('San Antonio , Texas', 'San Antonio', 'TX', 1327407, 1357120, 1383075, 1408339, 1435456, 1464043, 1487843, 1511154, 8138719932.0, 8132582195.0, 8205115690.0, 8344792708.0, 8901721387.0, 9528899945.0, 10607865698.0, 11755114161.0, 29.4241219, -98.4936282),
 ('San Diego , California', 'San Diego', 'CA', 1307402, 1319592, 1336776, 1355320, 1375831, 1387323, 1402089, 1412621, 6485452078.0, 6278367990.0, 6195823402.0, 6159867891.0, 6571974633.0, 7021045924.0, 7794846637.0, 8460054469.0, 32.715738, -117.1610838),
 ('Dallas , Texas', 'Dallas', 'TX', 1197816, 1218282, 1242115, 1258835, 1279098, 1301329, 1323916, 1342479, 10406501241.0, 10131083263.0, 10130921187.0, 10261194702.0, 10926818796.0, 11712691935.0, 13095931526.0, 14611198780.0, 32.7766642, -96.7969879),
 ('San Jose , California', 'San Jose', 'CA', 945942, 970369, 983530, 1001279, 1014273, 1025980, 1030242, 1032335, 4447437434.0, 4665437645.0, 4783932530.0, 4732428057.0, 4650414012.0, 4404450797.0, 4218830155.0, 3855132063.0, 37.338208200000004, -121.88632859999998),
 ('Austin , Texas', 'Austin', 'TX', 790390, 828459, 854482, 875003, 901170, 921114, 939447, 951553, 5253976568.0, 5355130417.0, 5575888644.0, 5807052011.0, 6190819337.0, 6508764301.0, 6973214214.0, 7268348480.0, 30.267153000000004, -97.7430608),
 ('Jacksonville , Florida', 'Jacksonville', 'FL', 821784, 829609, 837013, 842735, 852494, 865836, 880520, 892025, 5187835876.0, 5166724006.0, 5141724254.0, 5099054480.0, 5254349907.0, 5417128852.0, 5768428407.0, 6261711623.0, 30.3321838, -81.65565099999998),
 ('Fort Worth , Texas', 'Fort Worth', 'TX', 741206, 764142, 781046, 796073, 815057, 835356, 856177, 874809, 7196690480.0, 7038765278.0, 7023779632.0, 7077695508.0, 7475414304.0, 7912817594.0, 8682856931.0, 9418969698.0, 32.7554883, -97.3307658),
 ('Columbus , Ohio', 'Columbus', 'OH', 787033, 800607, 812740, 827797, 841673, 854950, 866894, 881694, 5225245330.0, 5215133100.0, 5248265148.0, 5189874111.0, 5523475692.0, 5802862628.0, 6420225111.0, 6982021567.0, 39.9611755, -82.99879419999998),
 ('Charlotte , North Carolina', 'Charlotte', 'NC', 731424, 754829, 773264, 792047, 807400, 825668, 843117, 860002, 4178810089.0, 3989790142.0, 3861924043.0, 3907028988.0, 4022205505.0, 4279727834.0, 4758825498.0, 5325615709.0, 35.2270869, -80.8431267),
 ('San Francisco , California', 'San Francisco', 'CA', 805235, 815650, 828876, 839572, 850750, 863010, 871512, 878040, 1651615568.0, 1891192925.0, 2021994342.0, 2050335585.0, 2000598548.0, 1831492002.0, 1646016970.0, 1386835203.0, 37.7749295, -122.4194155),
 ('Indianapolis, Indiana', 'Indianapolis', 'IN', 820445, 827664, 835499, 844696, 850164, 853714, 859049, 863478, 8379067161.0, 6975602076.0, 6593763723.0, 6500311045.0, 6537365936.0, 6700323532.0, 7147954041.0, 7895705285.0, 39.768403, -86.158068),
 ('Seattle , Washington', 'Seattle', 'WA', 608660, 622694, 635928, 653588, 670109, 687386, 709631, 728661, 2007630701.0, 1996869840.0, 2008343911.0, 1983806637.0, 2041851216.0, 2116980268.0, 2272608955.0, 2504664188.0, 47.6062095, -122.33207079999998),
 ('Denver , Colorado', 'Denver', 'CO', 600158, 620530, 635163, 649391, 664582, 683285, 696159, 704961, 4316772115.0, 4103658776.0, 3984918015.0, 3957706492.0, 4053231007.0, 4267448475.0, 4800837817.0, 5374324044.0, 39.739235799999996, -104.990251),
 ('Washington , District of Columbia', 'Washington', 'DC', 601723, 619800, 634924, 650581, 662328, 675400, 685815, 694906, 1702528463.0, 1636862265.0, 1640230199.0, 1554983425.0, 1655583418.0, 1673520077.0, 1715586131.0, 1774668063.0, 38.9071923, -77.03687070000001),
 ('Boston , Massachusetts', 'Boston', 'MA', 617594, 630505, 642955, 653002, 662855, 670491, 679848, 687788, 2187711552.0, 2133819309.0, 2108292589.0, 2147319165.0, 2111911815.0, 2149271812.0, 2219167768.0, 2173447676.0, 42.360082500000004, -71.0588801),
 ('El Paso , Texas', 'El Paso', 'TX', 649121, 664404, 674941, 674808, 677235, 676242, 679955, 681343, 2834504246.0, 2825106038.0, 2852816602.0, 2891678255.0, 3053842843.0, 3212716529.0, 3479132165.0, 3689609930.0, 31.7618778, -106.48502169999999),
 ('Nashville-Davidson, Tennessee', 'Nashville-Davidson', 'TN', 601222, 612518, 625550, 635999, 645259, 655498, 661765, 663587, 4645679428.0, 4655366698.0, 4662433893.0, 4814036407.0, 4973587464.0, 5281347599.0, 5807575173.0, 6489365299.0, 36.1626638, -86.78160159999999),
 ('Detroit , Michigan', 'Detroit', 'MI', 713777, 705118, 700183, 691868, 682609, 679410, 677143, 674631, 3780614717.0, 3660011741.0, 3641785962.0, 3671604313.0, 3653895984.0, 3702213949.0, 3889183429.0, 4137499905.0, 42.331427000000005, -83.0457538),
 ('Oklahoma City  , Oklahoma', 'Oklahoma City', 'OK', 579999, 590947, 600971, 612061, 621639, 632172, 639924, 642822, 4627389922.0, 4656026622.0, 4629890550.0, 4468571599.0, 4598376357.0, 4745944459.0, 5191080199.0, 5502248857.0, 35.4675602, -97.5164276),
 ('Portland , Oregon', 'Portland', 'OR', 583776, 595451, 604264, 609890, 620510, 631366, 642720, 647924, 2750186639.0, 2650050164.0, 2599693959.0, 2549832404.0, 2625946783.0, 2761602741.0, 3091609532.0, 3334789601.0, 45.5051064, -122.6750261),
 ('Las Vegas , Nevada', 'Las Vegas', 'NV', 583756, 586606, 593275, 599551, 607976, 617487, 626538, 635262, 3115050384.0, 3084073905.0, 3087120706.0, 3264836949.0, 3152994381.0, 3216311460.0, 3342559661.0, 3430582257.0, 36.169941200000004, -115.13982959999998),
 ('Memphis , Tennessee', 'Memphis', 'TN', 646889, 655341, 658786, 657146, 654990, 654106, 652548, 650878, 4086428489.0, 3981184473.0, 3930217226.0, 4015631072.0, 4090628012.0, 4264723618.0, 4552107663.0, 4869137358.0, 35.1495343, -90.0489801),
 ('Louisville/Jefferson County, Kentucky', 'Louisville/Jefferson County', 'KY', 597337, 599920, 604246, 610471, 612634, 615372, 617583, 619728, 2974339680.0, 2898756302.0, 2788773170.0, 2809908731.0, 2874771961.0, 3014228257.0, 3247839134.0, 3636615109.0, 38.252664700000004, -85.7584557),
 ('Baltimore , Maryland', 'Baltimore', 'MD', 620961, 620410, 622895, 622391, 623587, 622522, 616226, 610481, 2200428825.0, 2120138253.0, 2156947420.0, 2112500200.0, 2170031056.0, 2178375021.0, 2199715793.0, 2224812908.0, 39.2903848, -76.6121893),
 ('Milwaukee , Wisconsin', 'Milwaukee', 'WI', 594833, 597086, 598569, 599916, 600664, 600477, 596996, 593725, 2302369654.0, 2061477026.0, 1947951923.0, 1878997502.0, 1951419872.0, 2101911521.0, 2426743463.0, 2795060275.0, 43.0389025, -87.9064736),
 ('Albuquerque , New Mexico', 'Albuquerque', 'NM', 545852, 552066, 555002, 557445, 557444, 557937, 559192, 559673, 2362577127.0, 2393419167.0, 2563434913.0, 2706030327.0, 2796440938.0, 2891786570.0, 3124306844.0, 3278206276.0, 35.0843859, -106.65042199999999),
 ('Tucson , Arizona', 'Tucson', 'AZ', 520116, 530709, 531880, 532945, 534800, 535607, 537528, 541377, 2277475038.0, 2262164332.0, 2258597682.0, 2250174066.0, 2264403837.0, 2286862400.0, 2366475534.0, 2464133522.0, 32.2226066, -110.9747108),
 ('Fresno , California', 'Fresno', 'CA', 494665, 501429, 505414, 508880, 514100, 518203, 521426, 525373, 1845156619.0, 1770077363.0, 1690500668.0, 1601136256.0, 1612218600.0, 1616259575.0, 1685875952.0, 1722043588.0, 36.737798100000006, -119.78712469999999),
 ('Mesa , Arizona', 'Mesa', 'AZ', 439041, 447681, 456968, 464803, 473132, 481811, 490695, 500021, 2384973755.0, 2350810429.0, 2427833657.0, 2537045604.0, 2667734412.0, 2823589734.0, 3046257660.0, 3301018122.0, 33.4151843, -111.83147240000001),
 ('Sacramento , California', 'Sacramento', 'CA', 466488, 470902, 474226, 478214, 482762, 488133, 494127, 500777, 3721866328.0, 3835997843.0, 3849590442.0, 3805633348.0, 3922005129.0, 3952580325.0, 4052701638.0, 3999871043.0, 38.5815719, -121.49439960000001),
 ('Atlanta , Georgia', 'Atlanta', 'GA', 420003, 437812, 449016, 453990, 461154, 468303, 479174, 491670, 4307855626.0, 4274852749.0, 4232813527.0, 4353220453.0, 4464134346.0, 4756497929.0, 5260719984.0, 6072257475.0, 33.7489954, -84.3879824),
 ('Kansas City  , Missouri', 'Kansas City', 'MO', 459787, 462368, 464595, 467213, 470629, 475073, 481670, 488329, 4167347523.0, 4049773492.0, 3930604400.0, 3970686056.0, 4067519619.0, 4287399221.0, 4652450222.0, 5004698086.0, 39.0997265, -94.5785667),
 ('Colorado Springs , Colorado', 'Colorado Springs', 'CO', 416427, 427434, 432782, 438146, 442361, 449572, 458714, 465167, 1688351299.0, 1626024325.0, 1619460804.0, 1644231961.0, 1699541266.0, 1784494520.0, 1965523169.0, 2114217338.0, 38.8338816, -104.82136340000001),
 ('Omaha , Nebraska', 'Omaha', 'NE', 408958, 462101, 465261, 468086, 470423, 472638, 475044, 476271, 2255761867.0, 2207499677.0, 2150541586.0, 2154055307.0, 2253297293.0, 2473746040.0, 2988734756.0, 3679695636.0, 41.2565369, -95.93450340000001),
 ('Raleigh , North Carolina', 'Raleigh', 'NC', 403892, 413958, 423304, 431391, 439503, 449546, 459469, 465776, 2850672251.0, 2783896039.0, 2725547025.0, 2759709780.0, 2825658059.0, 2969309863.0, 3246209431.0, 3543695614.0, 35.7795897, -78.6381787),
 ('Miami , Florida', 'Miami', 'FL', 399457, 406593, 411149, 415661, 425110, 434738, 449149, 456617, 2337443183.0, 2270437763.0, 2230540380.0, 2197245424.0, 2276057970.0, 2388236685.0, 2613814242.0, 2914167319.0, 25.7616798, -80.1917902),
 ('Long Beach , California', 'Long Beach', 'CA', 462257, 464512, 466873, 468000, 469109, 470128, 468719, 466646, 2427902880.0, 2248073469.0, 2130903696.0, 2054117100.0, 2174255294.0, 2318759716.0, 2582370848.0, 2829552670.0, 33.770050399999995, -118.1937395),
 ('Virginia Beach , Virginia', 'Virginia Beach', 'VA', 437994, 442583, 445044, 447706, 448864, 450304, 450983, 449896, 1861075483.0, 1753984443.0, 1695772057.0, 1634109608.0, 1578932074.0, 1554986968.0, 1583660230.0, 1604975863.0, 36.8529263, -75.97798499999998),
 ('Oakland , California', 'Oakland', 'CA', 390724, 396086, 401104, 406648, 412901, 418211, 420947, 424382, 1934034519.0, 2204686850.0, 2376052252.0, 2439654354.0, 2435632915.0, 2309263678.0, 2198881925.0, 2021646757.0, 37.804351399999994, -122.27116389999999),
 ('Minneapolis , Minnesota', 'Minneapolis', 'MN', 382578, 388052, 392768, 400070, 407067, 411030, 415079, 420925, 1741884265.0, 1688675900.0, 1658229969.0, 1633740385.0, 1663238978.0, 1750580646.0, 1978859764.0, 2253418969.0, 44.977753, -93.2650108),
 ('Tulsa , Oklahoma', 'Tulsa', 'OK', 391906, 393005, 394643, 398401, 399892, 403491, 404007, 402060, 2829610907.0, 2834916522.0, 2859145427.0, 2824197332.0, 2999411436.0, 3200424501.0, 3599481452.0, 3894243556.0, 36.1539816, -95.992775),
 ('Tampa , Florida', 'Tampa', 'FL', 335709, 342589, 348090, 355172, 362664, 371464, 380344, 391026, 2158280974.0, 2032772923.0, 2016261196.0, 2024104390.0, 2136448576.0, 2280019199.0, 2511652051.0, 2796254199.0, 27.950575, -82.4571776),
 ('Arlington , Texas', 'Arlington', 'TX', 365438, 370253, 375629, 378950, 382721, 388728, 394384, 397173, 1609801653.0, 1575455855.0, 1581865315.0, 1601465647.0, 1692172742.0, 1786408104.0, 1946906512.0, 2092361719.0, 32.735687, -97.1080656),
 ('New Orleans , Louisiana', 'New Orleans', 'LA', 343829, 360735, 369787, 378637, 383940, 389742, 391843, 391493, 1724516503.0, 1660795673.0, 1550246754.0, 1556659425.0, 1533226956.0, 1568911528.0, 1650375977.0, 1767381337.0, 29.95106579999999, -90.0715323),
 ('Wichita , Kansas', 'Wichita', 'KS', 382368, 383773, 385751, 387210, 388416, 389412, 390519, 390277, 1797558476.0, 1825746719.0, 1791401475.0, 1777805354.0, 1784774792.0, 1827640805.0, 1977991145.0, 2063402167.0, 37.68717609999999, -97.330053),
 ('Bakersfield , California', 'Bakersfield', 'CA', 347483, 353221, 357312, 362834, 366954, 371348, 374699, 377940, 1840179069.0, 1996163397.0, 2111498919.0, 2182006147.0, 2290217582.0, 2286686988.0, 2228718348.0, 2025823879.0, 35.3732921, -119.0187125),
 ('Cleveland , Ohio', 'Cleveland', 'OH', 396815, 392667, 391550, 391792, 390871, 389244, 387662, 385252, 2231927364.0, 2198859116.0, 2170434067.0, 2098225060.0, 2184479493.0, 2245459865.0, 2434972195.0, 2598501380.0, 41.499320000000004, -81.6943605),
 ('Aurora , Colorado', 'Aurora', 'CO', 325078, 332730, 339261, 345613, 352660, 360098, 363277, 367574, 1730065820.0, 1638184040.0, 1600044212.0, 1597571957.0, 1627873820.0, 1688354012.0, 1846353101.0, 1988537009.0, 39.729431899999994, -104.8319195),
 ('Anaheim , California', 'Anaheim', 'CA', 336265, 339831, 342071, 343832, 344604, 348251, 350013, 350476, 1968257403.0, 1889818163.0, 1822749651.0, 1754110706.0, 1799574775.0, 1840286579.0, 1953378855.0, 2020090158.0, 33.8365932, -117.91430120000001),
 ('Santa Ana , California', 'Santa Ana', 'CA', 324528, 328227, 330550, 333716, 333431, 333417, 333765, 332627, 1859311574.0, 1840357393.0, 1793516315.0, 1731233458.0, 1767617395.0, 1794534434.0, 1890279229.0, 1934024052.0, 33.7454725, -117.867653),
 ('Riverside , California', 'Riverside', 'CA', 303871, 309472, 312323, 315510, 317702, 320483, 323684, 326882, 1115827663.0, 1091884473.0, 1069872208.0, 1062197363.0, 1162442001.0, 1270527828.0, 1432956897.0, 1581749567.0, 33.9806005, -117.3754942),
 ('Corpus Christi , Texas', 'Corpus Christi', 'TX', 305215, 308103, 312390, 317043, 320765, 324672, 325786, 325568, 1689497089.0, 1644259765.0, 1699458375.0, 1777720478.0, 1906682911.0, 2021919856.0, 2189136939.0, 2344118153.0, 27.800582799999997, -97.396381),
 ('Lexington-Fayette, Kentucky', 'Lexington-Fayette', 'KY', 295803, 301696, 305947, 309865, 311784, 315819, 319644, 321964, 1379507182.0, 1310298941.0, 1290761029.0, 1338342382.0, 1389219248.0, 1474885552.0, 1586191025.0, 1733726680.0, 38.040583700000006, -84.50371640000002),
 ('Henderson , Nevada', 'Henderson', 'NV', 257729, 258752, 263278, 268274, 274255, 282167, 289480, 299314, 1440910895.0, 1412335735.0, 1407332625.0, 1494812300.0, 1472910254.0, 1561635551.0, 1728757987.0, 1929508879.0, 36.0395247, -114.9817213),
 ('Stockton , California', 'Stockton', 'CA', 291707, 295363, 297045, 297493, 301062, 304550, 307158, 310143, 1225384962.0, 1250230511.0, 1261040226.0, 1262531840.0, 1332863887.0, 1382600798.0, 1465704618.0, 1509168674.0, 37.9577016, -121.29077959999998),
 ('St. Paul , Minnesota', 'St. Paul', 'MN', 285068, 288872, 291280, 295054, 297655, 299915, 302948, 304913, 1546017710.0, 1489845499.0, 1433624530.0, 1381323436.0, 1381609443.0, 1429336392.0, 1593071752.0, 1797682457.0, 44.953702899999996, -93.0899578),
 ('Cincinnati , Ohio', 'Cincinnati', 'OH', 296943, 296187, 296900, 297905, 298626, 299439, 299748, 301587, 2027177604.0, 2026800292.0, 2044524768.0, 2027361460.0, 2117089336.0, 2149692940.0, 2247513829.0, 2302711560.0, 39.103118200000004, -84.5120196),
 ('St. Louis , Missouri', 'St. Louis', 'MO', 319294, 319344, 319416, 318476, 317399, 316010, 312633, 308233, 1846304756.0, 1738741709.0, 1662316190.0, 1655975885.0, 1663418400.0, 1715664156.0, 1806725469.0, 1885315025.0, 38.6270025, -90.1994042),
 ('Pittsburgh , Pennsylvania', 'Pittsburgh', 'PA', 305704, 306012, 306355, 306902, 305964, 304070, 304643, 301494, 1440966521.0, 1323305316.0, 1241620396.0, 1181686372.0, 1209005988.0, 1276740131.0, 1433693016.0, 1662287229.0, 40.44062479999999, -79.9958864),
 ('Greensboro , North Carolina', 'Greensboro', 'NC', 269666, 272430, 276041, 279244, 282261, 284610, 289182, 291537, 2023724051.0, 1966551111.0, 1873606262.0, 1852041142.0, 1879035249.0, 1971516703.0, 2172491366.0, 2426070387.0, 36.072635399999996, -79.79197540000001),
 ('Lincoln , Nebraska', 'Lincoln', 'NE', 258379, 262690, 265861, 269129, 274128, 277345, 281339, 284527, 1103100703.0, 1104955920.0, 1096668042.0, 1099213090.0, 1109865517.0, 1134497738.0, 1220485546.0, 1281916040.0, 40.813615999999996, -96.7025955),
 ('Plano , Texas', 'Plano', 'TX', 259841, 267035, 272329, 274708, 278226, 283887, 287269, 287715, 1239317275.0, 1286483348.0, 1389599662.0, 1514186492.0, 1702264435.0, 1900569461.0, 2166274256.0, 2404391555.0, 33.0198431, -96.6988856),
 ('Orlando , Florida', 'Orlando', 'FL', 238300, 243620, 249935, 255135, 262469, 270786, 278512, 281804, 2483213020.0, 2476919681.0, 2495323592.0, 2515521784.0, 2644170346.0, 2797761538.0, 3072753500.0, 3447082898.0, 28.5383355, -81.3792365),
 ('Irvine , California', 'Irvine', 'CA', 212375, 220303, 229063, 236057, 247136, 255382, 265345, 276000, 2672767042.0, 2616574057.0, 2538260432.0, 2444980281.0, 2498641466.0, 2542427042.0, 2686812406.0, 2762747453.0, 33.6845673, -117.82650490000002),
 ('Newark , New Jersey', 'Newark', 'NJ', 277140, 277574, 277594, 278121, 278936, 279636, 280681, 281237, 2492069459.0, 2452665549.0, 2419084782.0, 2428847302.0, 2397547705.0, 2437441594.0, 2579456207.0, 2676408790.0, 40.735657, -74.1723667),
 ('Durham , North Carolina', 'Durham', 'NC', 228330, 235341, 241117, 246992, 253290, 258647, 265499, 269844, 1785687186.0, 1725170892.0, 1670457611.0, 1677254989.0, 1711884588.0, 1796764681.0, 1963036204.0, 2152006491.0, 35.99403289999999, -78.898619),
 ('Chula Vista , California', 'Chula Vista', 'CA', 243916, 248318, 252379, 256691, 259885, 264206, 266238, 269046, 1094605977.0, 1046893013.0, 1027930313.0, 1019152517.0, 1086090553.0, 1158047856.0, 1281273509.0, 1384845956.0, 32.6400541, -117.0841955),
 ('Toledo , Ohio', 'Toledo', 'OH', 287208, 285425, 283185, 282352, 280712, 279898, 278897, 276688, 1357024072.0, 1288370757.0, 1267061478.0, 1231844538.0, 1277050701.0, 1303280841.0, 1378699865.0, 1415043583.0, 41.6528052, -83.53786740000001),
 ('Fort Wayne , Indiana', 'Fort Wayne', 'IN', 253691, 256293, 257626, 259333, 260570, 262109, 263513, 265128, 1402028685.0, 1455532232.0, 1463854182.0, 1485697600.0, 1480459800.0, 1464609454.0, 1454871500.0, 1454491963.0, 41.079273, -85.13935129999999),
 ('St. Petersburg , Florida', 'St. Petersburg', 'FL', 244769, 245871, 246656, 248453, 252225, 255041, 259266, 262588, 1782832507.0, 1611039172.0, 1549131372.0, 1511822952.0, 1553220083.0, 1609572738.0, 1706263105.0, 1809720357.0, 27.767600800000004, -82.64029149999998),
 ('Laredo , Texas', 'Laredo', 'TX', 236091, 241195, 245728, 249602, 252734, 255271, 257862, 259324, 850301641.6, 891030690.1, 975940633.5, 1061470004.0, 1122309019.0, 1123203100.0, 1084155291.0, 973338787.1, 27.5035613, -99.50755190000001),
 ('Jersey City  , New Jersey', 'Jersey City', 'NJ', 247597, 252877, 256072, 257119, 258632, 260171, 260427, 263292, 2008694866.0, 1968615464.0, 1947442031.0, 1962676328.0, 1934420930.0, 1960614620.0, 2063846892.0, 2123988156.0, 40.7177545, -74.0431435),

In [11]:
conn.execute("""SELECT * FROM emission_population WHERE City = 'New York'""").fetchall()

2021-02-06 12:39:26,341 INFO sqlalchemy.engine.base.Engine SELECT * FROM emission_population WHERE City = 'New York'
2021-02-06 12:39:26,342 INFO sqlalchemy.engine.base.Engine ()

[('New York City , New York', 'New York', 'NY', 8175133, 8272948, 8346693, 8396091, 8433806, 8463049, 8469153, 8437478, 11456907234.0, 10257208665.0, 9592849785.0, 9491282013.0, 9690876443.0, 10296652342.0, 11710191251.0, 13045318473.0, 40.7127753, -74.0059728)]